@import './src/appLayer/styles/colors';
@import './src/appLayer/styles/breakpoints';

.footer {
  max-width: 1248px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  @media (max-width: 1348px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include tablet {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }

  @include mobile {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 32px;

  @include mobile {
    gap: 16px;
  }
}

.networks {
  display: flex;
  gap: 16px;

  li {
    transition: 0.4s;

    &:hover {
      opacity: 0.4;
    }
  }
}

.link {
  justify-self: end;
  color: var(--footer-link-color);
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  transition: 0.4s;

  &:hover {
    opacity: 0.4;
  }

  @include tablet {
    justify-self: auto;
  }
}
