@import '../../../../../appLayer/styles/colors';
@import '../../../../../appLayer/styles/breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container {
  display: flex;
  align-items: center;
  gap: 32px;

  @include mobile {
    gap: 16px;
  }
}

.networks {
  display: flex;
  gap: 16px;

  li {
    transition: 0.4s;

    &:hover {
      opacity: 0.4;
    }
  }
}

.privacyPolicy {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--nav-link-color);
}
