@import './src/appLayer/styles/colors';
@import './src/appLayer/styles/breakpoints';

.headerMain {
  position: absolute;
  z-index: 1;
  width: 100%;

}

.headerOrder {
  background: var(--header-background);
  box-shadow: inset 0px -1px 0px rgba(135, 144, 221, 0.1);
}

.headerWrapper {
  max-width: 1248px;
  height: 70px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1348px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include mobile {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.logo {
  @include mobile {
    width: 92px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @include mobile {
    gap: 8px;
  }
}

.link {
  padding: 4px 12px;
  color: $neon;
  border: 1px solid $neon;
  font-size: 12px;
  line-height: 15px;
  transition: 0.4s;

  &:hover {
    opacity: 0.4;
  }

  @include mobile {
    padding: 2px 8px;
    font-size: 9px;
    line-height: 12px;
  }
}
